@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-header{
    @apply text-2xl font-bold;
  }

  .my-picture-style{
    @apply overflow-hidden rounded-full shadow shadow-gray-700;
  }

  .my-shadow-style{
    @apply shadow shadow-gray-700;
  }

  .my-image-cover-style{
    @apply object-cover w-full h-full;
  }

  .my-button-style{
    @apply cursor-pointer flex justify-center items-center sm:text-[18px] text-[14px] sm:px-6 px-4 text-white font-bold bg-black mt-6 md:py-3 sm:py-2 py-1 rounded-3xl border border-white hover:bg-white hover:border hover:border-black hover:text-black hover:animate-pulse;
  }

  .my-button-border-style{
    @apply cursor-pointer flex justify-center items-center text-[18px] px-6 text-black font-bold bg-white mt-6 py-3 rounded-3xl border border-black hover:bg-black hover:border hover:border-white hover:text-white hover:animate-pulse;
  }

  .my-hover-transition{
    @apply hover:scale-105 duration-300 hover:border-2 hover:border-yellow-500;
  }

  .my-screen-padding{
    @apply lg:px-16 sm:px-10 px-5 lg:mt-24 mt-20;
  }
}


body{
  background-color: #ffffff;
}